/* Color Theme Swatches in Hex */
body {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-family: "didot" "helvetica";
  background-color: #6A36D9;
  margin: 0;
  padding: 0;
  justify-content: center;
}
body header {
  text-align: center;
  display: inline-block;
  padding: 0 0 2vw 0;
  margin: 0 0 0.5vw 0;
}
body header h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  background-color: #5B2A8C;
  margin-bottom: 0;
}
body header img {
  max-width: 100%;
  max-height: fit-content;
  width: 100vw;
  height: 30vw;
  object-fit: cover;
}
body header nav {
  margin-top: 0;
  background-color: #A993BF;
}
body header nav ul {
  background-color: inherit;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
body header nav ul li {
  padding-left: 3vw;
  padding-right: 3vw;
  display: inline-block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}
body header nav ul li:hover {
  background-color: #5B2A8C;
  padding-left: 3vw;
  padding-right: 3vw;
  margin: 0;
  display: inline-block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}
body header nav ul a {
  text-decoration: none;
  font-size: 1.5em;
  color: #1D1B59;
}
body header nav ul a:hover {
  text-decoration: none;
  color: #1D1B59;
}
body #main {
  display: inline-block;
  padding-top: 5vw;
  padding-bottom: 5vw;
}
body #main #universidades {
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: auto;
}
body #main #universidades #universidadesCarousel {
  display: inline-block;
  max-width: 100%;
  text-align: center;
  justify-content: center;
}
body #main #universidades #universidadesCarousel img {
  max-width: 100%;
}
body #main #comentarios {
  text-align: center;
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3vw;
  justify-content: center;
}
body #main #comentarios h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin: inherit;
}
body #main #comentarios #comentariosCarousel {
  display: inline-block;
  font-size: larger;
  max-width: 100%;
  text-align: center;
  justify-content: center;
  padding-bottom: 5vw;
}
body #main #clases {
  text-align: center;
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3vw;
  justify-content: center;
}
body #main #clases h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin: inherit;
}
body #footer {
  text-align: center;
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3vw;
  justify-content: center;
}
body #footer h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin: inherit;
}
