/* Color Theme Swatches in Hex */
body {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-family: "didot" "helvetica";
  background-color: #6A36D9;
  margin-left: auto;
  margin-right: auto;
}
body form {
  margin-left: auto;
  margin-right: auto;
}
