<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/clases.css" type="text/css">
        <title>Tutapp</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header>
                    <a href="index.html"><img src="../static/tutapp.png" alt="imagen de tutapp" id="CompImg"></a>
                    <h1>Que todo estudiante encuentre su tutor</h1>
                    <nav class="navbar">
                        <ul id="navbar-nav">
                            <li class="nav-item"><a href="tutores.html">Tutores</a></li>
                            <li class="nav-item"><a href="clases.html">Clases</a></li>
                            <li class="nav-item"><a href="contacto.html">Contacto</a></li>
                            <li class="nav-item"><a href="registro.html">Registrarse</a></li>
                            <li class="nav-item"><a href="ingreso.html">Ingreso</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
            <div class="row" id="main">
              <div class="row">
                <div id="clases" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-indicators">
                        <button type="button" data-bs-target="#clases" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#clases" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#clases" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      </div>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="card" style="width: 18rem;">
                              <img src="../static/carrousel/clases/logo jave.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">PMC</h5>
                                <p class="card-text">Texto</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="card" style="width: 18rem;">
                              <img src="../static/carrousel/clases/logo jave.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">PMC</h5>
                                <p class="card-text">Texto</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="card" style="width: 18rem;">
                              <img src="../static/carrousel/clases/logo jave.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">PMC</h5>
                                <p class="card-text">Texto</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                          </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#clases"  data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#clases"  data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      </button>
                  </div>
              </div>
              <div class="row" id="TablaClases">
                <nav class="navbar">
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </nav>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Univerisidad</th>
                      <th scope="col">Código</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Tutores</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Universidad de los andes</th>
                      <td>ISISXXXX</td>
                      <td>Materia</td>
                      <td>20</td>
                    </tr>
                    <tr>
                      <th scope="row">Universidad de los andes</th>
                      <td>ISISXXXX</td>
                      <td>Materia</td>
                      <td>20</td>
                    </tr>
                    <tr>
                      <th scope="row">Universidad de los andes</th>
                      <td>ISISXXXX</td>
                      <td>Materia</td>
                      <td>20</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>