<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/index.css" type="text/css">
    <title>Tutapp</title>
  </head>
  <body>
    <div class="conatiner">
      <div class="row">
        <header>
            <img src="../static/tutapp.png" alt="imagen de tutapp" id="CompImg">
            <h1>Que todo estudiante encuentre su tutor</h1>
            <nav class="navbar">
              <ul id="navbar-nav">
                  <li class="nav-item"><a href="tutores.html">Tutores</a></li>
                  <li class="nav-item"><a href="clases.html">Clases</a></li>
                  <li class="nav-item"><a href="universidades.html">Universidades</a></li>
                  <li class="nav-item"><a href="contacto.html">Contacto</a></li>
                  <li class="nav-item"><a href="registro.html">Registrarse</a></li>
                  <li class="nav-item"><a href="ingreso.html">Ingreso</a></li>
              </ul>
          </nav>
        </header>
      </div>
      <div class="row" id="main">
        <div class="row" id="universidades">
          <h2>Universidades Involucradas</h2>
          <div id="universidadesCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#universidadesCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#universidadesCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#universidadesCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>          
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="../static/carrousel/Universidades/logo jave.png">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../static/carrousel/Universidades/Logo UN.jpg">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../static/carrousel/Universidades/logo-uniandes.png">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#universidadesCarousel"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#universidadesCarousel"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <br>
        <div class="row" id="comentarios">
          <h2>Comentarios</h2>
          <div id="comentariosCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#comentariosCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#comentariosCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#comentariosCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>            
            <div class="carousel-inner">
              <div class="carousel-item active">
                <p>
                  <cite>"TOP"</cite>
                </p>
              </div>
              <div class="carousel-item">
                <cite>"Lo mejor"</cite>
              </div>
              <div class="carousel-item">
                <cite>"WOW"</cite>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#comentariosCarousel"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#comentariosCarousel"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <br>
        <div class="row" id="clases">
          <h2>Nuestras Clases</h2>
          <dl>
            <dt>
              Física Moderna
            </dt>
            <dt>
              Infraestructura de Comunicaciones
            </dt>
            <dt>
              Señales
            </dt>
          </dl>
        </div>
      </div>
      <div class="row" id="footer">
        <h2>Contact Us:</h2>
        <dl>
          <dt>Telefono:</dt>
          <dt>Mail:</dt>
        </dl>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>