<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/ingreso.css" type="text/css">
        <title>Tutapp</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header>
                    <a href="index.html"><img src="../static/tutapp.png" alt="imagen de tutapp" id="CompImg"></a>
                    <h1>Que todo estudiante encuentre su tutor</h1>
                    <nav class="navbar">
                        <ul id="navbar-nav">
                            <li class="nav-item"><a href="tutores.html">Tutores</a></li>
                            <li class="nav-item"><a href="clases.html">Clases</a></li>
                            <li class="nav-item"><a href="universidades.html">Universidades</a></li>
                            <li class="nav-item"><a href="contacto.html">Contacto</a></li>
                            <li class="nav-item"><a href="registro.html">Registrarse</a></li>
                            <li class="nav-item"><a href="ingreso.html">Ingreso</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>